* {
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans MT";
    margin: 0;
}


h1 {
    padding: 50px;
    text-align: center;
    font-size: 250%;
}

.container {
    font-family: "Gill Sans MT";
    text-align: center;
}

.header3 {
    padding: 10rem;
    background-image: url("bts.jpg");
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
}
.header3 h1 {
    font-size: 4rem;
    color: #000000;
}

.image {
    transition: 1s;
}

.image:hover {
    transform: scale(1.1);
}


.footer {
    padding: 2.5rem;
    background: #0a0707;
}

.footer h2 {
    text-align: right;
    color: #f1f1f1;
    font-size: 15px;
}


